<h2 mat-dialog-title>{{action }} Producto</h2>
<mat-dialog-content>
    <form [formGroup]="formProduct">
        <mat-grid-list cols="1" rowHeight="80px">
            <mat-grid-tile>
                <mat-form-field appearance="outline">
                    <mat-label>Nombre</mat-label>
                    <input matInput autocomplete="off" formControlName="name">
                </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile>
                <mat-form-field appearance="outline">
                    <mat-label>Código</mat-label>
                    <input matInput autocomplete="off" formControlName="code">
                </mat-form-field>
            </mat-grid-tile>      
            <mat-grid-tile>
                <mat-form-field appearance="outline">
                    <mat-label>Descripción</mat-label>
                    <input matInput autocomplete="off" formControlName="description">
                </mat-form-field>
            </mat-grid-tile>    
            <mat-grid-tile>
                <mat-form-field appearance="outline">
                    <mat-label>Cantidad inicial</mat-label>
                    <input matInput autocomplete="off" formControlName="quantity">
                </mat-form-field>
            </mat-grid-tile>
        </mat-grid-list>
    </form>
</mat-dialog-content>

<mat-dialog-actions>
    <button mat-raised-button mat-dialog-close color ="warn">Cancelar</button>
    <button mat-raised-button color="primary"
    [disabled] ="formProduct.invalid"
    (click)="addEditProduct()">
        {{ actionButton }}
    </button>
</mat-dialog-actions>
